@font-face {
    font-family: "AmaticSC-Bold";
    src: url("../Fonts/AmaticSC-Bold.ttf");
}
@font-face {
    font-family: "AmaticSC-Regular";
    src: url("../Fonts/AmaticSC-Regular.ttf");
}
@font-face {
    font-family: "Pangolin-Regular";
    src: url("../Fonts/Pangolin-Regular.ttf");
}